tools/cadu_utils/bin/*
tools/cadu_utils/working/*
tools/ccsds_utils/bin/*
tools/ccsds_utils/working/*
tools/seqiter/bin/*
tools/byte_aligner/byte_aligner

decoder_pipeline/data/
decoder_pipeline/modisl1db/src/
decoder_pipeline/mod14/src/
decoder_pipeline/bluemarble/src/
decoder_pipeline/modisl1db/netrc

overshadowing/gnuradio/samples/results*

papers/

**.so
gnuradio/samples/results*
__pycache__
.DS_Store
